:root {
    --dark0: rgb(21, 32, 43);
    --dark1: rgb(25, 39, 52);
    --dark2: rgb(34, 48, 60);
    
    --light0: rgb(255, 255, 255);
    --light1: rgb(136, 153, 166);
    
    --orange0: rgb(255, 193, 7);
    --orange1: rgb(255, 179, 0);
    --orange2: rgb(255, 111, 0);
    --orange3: rgb(197, 85, 0);
    
    --dark0a: rgba(21, 32, 43, .5);
    --dark1a: rgba(25, 39, 52, .5);
    --dark2a: rgba(34, 48, 60, .5);
    --light0a: rgba(255, 255, 255, .5);
    --light1a: rgba(136, 153, 166, .5);
    
    --orange0a: rgba(255, 193, 7, .5);
    --orange1a: rgba(255, 179, 0, .5);
    --orange2a: rgba(255, 111, 0, .5);
    --orange3a: rgba(197, 85, 0, .5);
}

* {
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',
    sans-serif;
}

body {
    background: var(--dark0);
    overflow-y: hidden;
    display: flex;
}

.menu-container{
    flex: 1;
    margin: 0;
    padding: 20px;
    height: 100vh;
    transition: all .5s;
    opacity: 1;
}

.menu-wrapper{
    background: var(--orange2);
    height: 100%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .7);
    transition: all .5s;
    padding: 30px;
}

.main-container{
    flex: 4;
    margin: 0;
    padding: 20px;
    height: 100vh;
    transition: all .5s;
    overflow-y: hidden;
}

.main-wrapper {
    background: var(--dark1);
    height: 100%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .7);
    transition: all .5s;
    padding: 0px 30px;
    overflow-y: hidden;
}

.menu-container.menu-close{
    flex: 0;
    margin: 0;
    opacity: 0;
    width: 0;
}

.menu-wrapper.menu-close{
    border-radius: 0;
}

.main-container.menu-close {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.main-wrapper.menu-close{
    border-radius: 0;
    overflow-y: scroll;
}

i{
    font-size: 200%;
}

.toggle-btn {
    color: var(--orange2);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    margin: 0;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    margin-bottom: 20px;
}

.toggle-btn i{
    margin-right: 10px;
    cursor: pointer;
}

.toggle-btn h3{
    line-height: 40px;
    margin:0;
}

.toggle-btn.menu-close{
    opacity: 1;
    visibility: visible;
}

.menu-close-btn{
    color: var(--dark0);
    opacity: 1;
    visibility: visible;
    transition: all .3s;
    padding: 5px;
    cursor: pointer;
}

.menu-close-btn.menu-close {
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
}

.menu-heading{
    display: flex;
}

.main-header-menu{
    /* box-shadow: 10px 0px 20px rgba(0, 0, 0, .7); */
    height: 50px;

}

.filler{
    flex: 1;
}

.main-wrapper-inside{
    width: 100%;
    /* height: 100vh; */
    background:var(--dark1);
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right:20px;
}

#demo .carousel-inner img{
    height: 450px;
    width: 100%;
    border-radius: 15px;
}
.carousel-item a{
    text-decoration: none;
    color: var(--orange2);
}

.deck{
    margin-top: 20px;
}
.deck-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.deck-header .attend-btn{
    font-size: 25px;
    width: 30%;
    
}
.attend-btn{
    border-radius: 15px;
    background: var(--orange2);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .7);
    transition: all .3s;
    color: aliceblue;
}

.attend-btn:hover{
    color: white;
    background: var(--orange0);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .7);
}

.card{
    background-color:var(--dark2);
    border-radius: 15px;
    box-shadow: 13px 13px 26px #0f1820;
}

.card-img-top{
    border-radius: 15px;
    height: 100%;
    /* object-fit: contain; */
}

.card-title{
    text-align: center;
    color:white;
    border-radius: 15px;
}

.card-text-host-name{
    text-align: center;
    color:rgb(194, 194, 194);
    font-size: small;
}

.card-text-date{
    text-align: right;
    color:rgb(194, 194, 194);
    font-size: medium;
}

.card-text-desc{
    color:white;
}

.card .card-body .card-title,
.card-text {
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.card-rec {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .7);
}

.attend-btn {
    border-radius: 30px;
    background: var(--orange2);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .7);
    transition: all .3s;
    color: aliceblue;
}

.attend-btn:hover {
    color: white;
    background: var(--orange0);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .7);
}

a.custom-card,
a.custom-card:hover {
    color: white;
    text-decoration: none;
}

.card,
.card img {
    border-radius: 20px;
}

a.custom-card:hover {
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(49, 49, 49, 0.7),
        -2px -2px 2px rgba(22, 22, 22, 0.7);
    transform: translateY(-5px);
}

.card,
.card img {
    border-radius: 20px;
}

.card {
    background-color: var(--dark1) !important;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color:var(--dark0);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark0);
}

.menu-content-wrapper{
    margin-top: 20px;
}

.menu-item{
    display: flex;
    padding: 10px 10px 10px 30px;
    margin-bottom: 10px;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 30px;
    transition: all .2s;
}



.menu-item:hover{
    background: var(--orange0);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .7);
}

.menu-icon{
    margin-right: 15px;
    font-size: 1.5rem;
    width: 20px;
    text-align: center;
}

.menu-item:hover .menu-icon{
    -webkit-animation: vibrate-1 0.2s linear  both;
    animation: vibrate-1 0.2s linear  both;
    animation-iteration-count: 1
}

@-webkit-keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

a.redirects{
    color: #15202a;
    text-decoration: none;
}

a.redirects:hover {
    color: #15202a;
    text-decoration:none; 
    cursor:pointer;  
}


.card-deck{
    margin-top:30px;
}
